body {
    /* background-color: #1f2833; */
    background-color: #F8B469;
    color: #fff;
    text-align: center;
    font-size: 20 px;
    font-family: 'Baloo 2', cursive;
    word-wrap: break-word;
    /* align-items: center; */
}

.label , .already {
    text-align: center;
    font-size: 18px;
    display: inline;
    color: #0d0d0d;
    margin-right: 5px;
    margin-left: 20px;
}

.App {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.Block , .AddTask {
    border: 1px solid #000000;
    padding: 3%;
    margin: 2%;
    color : #050B13;
}

.AddTask{
    background:  #91CCF4;
}

.inputBox {
    border: 1px solid rgb(0, 0, 0);
}

a, a:hover {
    color: #000000;
}

.flashMessage{
    color: darkblue;
    font-size: 18px;
    margin: 8px;
}

.button {
    display: block;
    width: 115px;
    height: 40px;
    background: #B4DFE5;
    padding: 8px;
    margin-top: 8px;
    text-align: center;
    border-radius: 10px;
    color: #0d0d0d;
    font-weight: bold;
    font-size: medium;
}

.navbar , .navbar-mini {
    width: 100%;
    background-color: #FDEBAD;
    overflow: auto;
    /* margin-left: 12px; */
  }

  .task-button{
    background-color: #FDEBAD;
    float: right;
    border: none;
    display:block;
  }

  .navbar a , .logout, .username , .task-button ,.username-mini{
    float: left;
    padding: 15px;
    color: #0d0d0d;
    text-decoration: none;
    font-size: 19px;
  }

  .logout:hover{
    background-color: #c38d9e;
  }

  .username{
      background-color: #F98989;
  }

  .username-mini{
      background-color: #cad8fc;
      padding-left: 4%;
      padding-right: 4%;
      text-decoration: underline;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 2px;
  }

  .navbar a:hover {
    background-color: #c38d9e;
  }

  .navbar a.active {
    background-color: #4CAF50;
  }

  .heading { 
    background-color: #e8a87c;
  }

.home{
    font-size: 35px;
    padding-top: 10%;
    margin-left : 40px;
    margin-right : 40px;
    color: rgb(2, 33, 55);
}

.title{
    font-size: 35px;
    color: #0d0d0d;
    padding: 1%;
}

a:hover {
    text-decoration: none;
}

.button-delete{
    background-color: #d52e2e;
    height: 40px;
    width: 100px;
    float: right;
    margin: auto;
}

.button-delete:hover{
    background-color: #b30d0d;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}

.button-vote, .button-view, .button-delete, .button-work , .button-comp{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button-vote{
    background-color: rgb(45, 86, 136);
    padding: 10px;
    height: 45px;
    width: 120px;
}

.button-view{
    background-color: rgb(45, 86, 136);
    height: 40px;
    width: 100px;
}

.button-vote:hover, .button-view:hover{
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
    background-color:rgb(187, 34, 23);
}

.dropdown {
    color : #0d0d00;
    height : 40px;
    width: 140px;
}

.task{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 50px;
}

.task:hover{
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}

/* .taskNameNew, .taskNameIn, .taskNameComp , .taskMenu{
  font-size: 20px;
  font-family: monospace;
  padding: 20px;
  text-align: center;
  color: #000000;
  height: 60px;
} */

.taskNameNew{
    background-color: #44d52e;
}

.taskNameIn , .button-work{
    background-color: #d5c72e;
}

.taskNameComp , .button-comp{
    background-color: #d52e2e;
}

.taskDetails , .taskDetailsComments{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: initial;
}

.taskDetails{
  text-align: center;
  color: #01061a;
  background-color: #cad8fc;
}

.taskDetailsComments{
    background-color: #c38d9e;
    color: #0d0d0d;
}

.calendar {
    height : 40px;
    width: 120 px;
}

.home-line , .button-update{
    display: inline;
    margin: 10px;
}

.button-update:hover{
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
    background-color:rgb(187, 34, 23);
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.admin-buttons-start-s{
  background-color: rgb(3, 135, 18);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}

.admin-buttons-start-e{
  background-color: rgb(138, 16, 7);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 10px;
}